@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;500&family=Roboto:wght@500&display=swap');    
header{
    min-height: 130px;
    display: flex;
    align-items: center;
    position: sticky;
    font-family: 'Poppins', sans-serif;
    width: 90%;
    max-width: 89%;
    margin: 0px auto;
    flex-wrap: wrap;
    top: 0;
    z-index: 1000;
    padding: 0px 104px;
    
}
header .logo a{
    text-decoration: none;
    color: black;
}
header nav{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    display: flex;
}
nav ul li a:hover{
    color:lightseagreen;
    position: relative;
}
nav .nav-cart{
    cursor: pointer;
}
nav .nav-cart span{
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: red;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    padding: 3px 5px;
    z-index: -1;
}
header .menu,
header .close{
    cursor: pointer;
    display: none;
}
@media (max-width:650px) {
    header ul{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: white;
        z-index: 99;
        opacity: 0.97;
        transition: 1s linear;
    }
    header .menu,
    header .close{
        display: block;
    }
    header.close{
        position: absolute;
        top: 10px;
        right: 20px;
    }
    header ul.toggle{
        top: 0;
    }
}
header nav ul{
    display: inline-flex;
    align-items: center;
}
.menu__list{
    margin: 0px 55px;
        
}
.input__type{
    position: absolute;
    height: 45px;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    left: 35%;
}
.input__type img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.input__type input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 400;
    padding: 12px 50px;
    background-color: #fff;
}
.input__type img{
    left: 15px;
}
.nav-cart{
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    left: 80%;
}
.nav-cart a img{
    margin: 0px 30px;
    width: 25px;
    height: 25px;
}
 .img__user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 30px;
}
h1{
width: 74px;
height: 29px;
font-family: 'Poppins', sans-serif;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}
nav ul li a img{
    width: 15px;
    height: 20px;
    left: 10px;
    position: relative;
}